@import "./variables";

body {
  height: 100%;
  font-family: "Geogrotesque", arial, sans-serif !important;
  p, h1, h2 {
    line-height: $paragraph-line-height;
    font-family: "Geogrotesque", arial, sans-serif !important;
  }

}